* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-contact {
    background-color: #111727;
    color: white;
    padding: 10px;
    width: 130px;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

.nav-link {
    font-size: 25px;
    white-space: nowrap;
}

.nav-link a {
    color: black;
    text-decoration: none
}

.nav-link a:hover {
    font-weight: bold;
}

.navbar-mobile {
    display: none;
}

.navbar-mobile a {
    border: 10px solid #f4f3f3;
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 15px;
}

.navbar-a {
    background-color: #576fb1;
}

#icon-point {
    display: none;
}

@media only screen and (max-width: 600px) {
    .navbar-mobile {
        display: flex;
        flex-direction: column;
    }
    #icon-point {
        display: block;
    }
    .nav-link {
        display: none;
    }
    .btn-contact {
        display: none;
    }
}

.container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    text-align: center;
    margin-top: 20px;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.testimonial {
    width: 25%;
    margin: 0px 15px 30px 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.testimonial img {
    height: 200px;
    object-fit: cover;
}

.quote {
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 20px;
}

.author {
    font-weight: bold;
    text-align: right;
    margin-bottom: 10px;
}

.profile-testimonial {
    min-width: 100%
}

.container-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-rating h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating-btn {
    margin: 20px;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #111727;
    color: white;
    cursor: pointer;
}